:root {
 --bg: #171a1f;
 --fg: #20242a;
 --sel: #fff

}
@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
* {
 margin:0;
 padding:0;
 font-family:Roboto;
 font-size:inherit
}
body {
 background: var(--bg);
 color:var(--sel);
 width: 100%;
 height: 100vh;
}
.nav {
 background-color:var(--bg);
 box-shadow:0 0 30px rgb(0,0,0,.45);
 padding:14px 0;
 text-align:center;
 margin:0 auto
}
h1 {
 font-size:xxx-large
}
.head {
 text-align:center;
 margin-top:30px
}
a {
 color:var(--sel)
}
a:hover {
 color:var(--fg)
}
.about {
 margin:30px;
 width:980px;
 max-width:90%;
 justify-content:space-evenly
}
.content {
 width:980px;
 max-width:90%;
 margin:5% auto;
}
.divide {
 padding:0;
 margin:0;
 width:100%;
 height:100%;
 animation:gradient 4s linear infinite;
 animation-direction:alternate;
 margin-bottom:10px;
 position:absolute;
 height:3px;
 border-bottom:0 solid #000;
 background:linear-gradient(95deg,#F17C58,#E94584,#24AADB,#27DBB1,#FFDC18,#FF3706);
 background-size:600% 50%
}
@keyframes gradient {
 0% {
  background-position:0%
 }
 100% {
  background-position:100%
 }
}


